@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
  --nav-bg: #ffffff;
  --main-bg: #f9fafb;
  --nav-text: #111827;
}

[data-mode='dark'] {
  --background: #000000;
  --foreground: #ffffff;
  --nav-bg: #1f2937; /* dark gray */
  --main-bg: #111827; /* almost black */
  --nav-text: #f3f4f6; /* light gray */
}

body {
  background-color: var(--main-bg);
  color: black;
}

[data-rbd-drag-handle-context-id] {
  cursor: grab;
}

[data-rbd-drag-handle-context-id]:active {
  cursor: grabbing;
}

[data-rbd-draggable-context-id] {
  z-index: 1;
}